body {
    font-family: Lora, 'Times New Roman', serif;
    font-size: 3vmin;
    color: black;
    padding: 0;
    margin: 0;

  }
  .mainMagic{
    padding-top: 3%;
  }
  .notFound {
    padding: 8%;
    text-align: center;
}


.magicBox a{
    color: inherit; /* for links */
    text-decoration: inherit; /* no underline */
}
.magicBox{
  /* background-image: url('game-of-thrones.jpg'); */
  margin: 3%;
  padding: 2%;

}

/* grid start */
/* box for books start */
.box1 h3{
  text-align:center;
	position:relative;
	top:10px;
}
.box1 p{
  text-align:center;
	position:relative;
	top:15px;
}
.box1 {
	width:80%;
	min-height:200px;
	background:#e74c3c;
	margin:40px auto;
  padding: 5px;
  color: white;
}
.box1:hover, .box2:hover, .box3:hover {
border-bottom: 10px solid red;
border-top: 10px solid red;
border-radius: 10%;
}


/* box for books end */

/* box for houses start */
.box2 h3{
  text-align:center;
	position:relative;
	top:20px;
}
.box2 p{
  text-align:center;
	position:relative;
	top:30px;
}
.box2 {
	width:80%;
	min-height:300px;
	background:#2ecc71;
	margin:40px auto;
  padding: 5px;
  color: white;
}
/* box for houses end */

/* box for characters start */
.box3 h3{
  text-align:center;
	position:relative;
	top:10px;
}
.box3 p{
  text-align:center;
	position:relative;
	top:20px;
}
.box3 {
	width:80%;
	min-height:200px;
	background:#3498db;
	margin:40px auto;
  padding: 5px;
}
/* box for characters end */



.btn-block{
  margin:  5px;
}


/*header*/

.header{
  text-align:center;
  width:100%;
}
.h1style{
  font-size: 300%;
  font-weight: bold;

}
.p1style{
  font-size: 150%;
  font-weight: bold;
}
.h2style{
  text-align: center;
  font-weight: bold;
  color: #ff004d;
}
